:root {
    --theme-accent: #FFC700;
    --theme-main:#FFFFFF;
    --theme-bgd: #222527;

    --theme-modal-bgd: rgb(239 236 236 / 90%); 
    --theme-btn-text: #060803;
    --theme-moto-text: #FFFFFF; 
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.body-fixed {
    overflow: hidden;
}
.about {
    height: 100%;
    width: 100%;
    background-image: url('../img/space.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
}
.darth_vader_img {
    position: absolute;
    right: 165px;
    bottom: 0;
}
.death-star-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    bottom: -96px;
    opacity: 0.4;
}
.container {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.about_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 95px;
    top: 36%;
}
.social_link {
    color: var(--theme-accent);
    margin-bottom: 26px;
}
.social_link svg {
    fill: var(--theme-accent);
}
header {
    padding-top: 32px;
    padding-bottom: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about_content {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.about_profession {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    color: var(--theme-main);
}
.about_name {
    color: var(--theme-accent);
    font-style: italic;
    font-weight: bold;
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 24px;
}
.about_positios {
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-accent);
    margin-bottom: 8px;
    list-style: disc;
    margin-left: 18px;
}
.about_positions_text {
    color: var(--theme-main);
}
.about_button {
    border: 0;
    outline: 0;
    padding: 16px 32px 16px 32px;
    margin-top: 40px;
    background-color: var(--theme-accent);
    border-radius: 38px;
    cursor: pointer;
    color: var(--theme-btn-text);
}
.achivements_container {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.about_content_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 60px;
    z-index: 100;
}
.about-warning{
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-main);
    margin-top: 104px;
    width: 400px;
}
.about-piece_and_passion {
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-moto-text);
    width: 324px;
    margin-top: 128px;
}
.achivements {
    padding: 60px 0;
    background-color: var(--theme-bgd);
    background-size: cover;
}
.achivements_header {
    margin-bottom: 64px;
}
h3 {
    color: var(--theme-accent);
    margin-bottom: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.achivements_done {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.achivements_item {
    width: 25%;
}
.achivements-icon {
    color: var(--theme-accent);
    margin-bottom: 31px;
    width: 60px;
    height: 60px;
}
.achivements-item-header {
    color: var(--theme-accent);
    margin-bottom: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.achivements-item-text {
    color: var(--theme-main);
    font-size: 16px;
    line-height: 24px;
    width: 274px;
}

.codex {
    padding: 186px 0;
    background-image: url('../img/space.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.codex .container {
    flex-direction: row;
}
.codex_left_side, .codex_right_side {
    width: 50%;
}
.codex_motto {
    color: var(--theme-accent);
    font-style: italic;
    font-weight: bold;
    font-size: 46px;
    line-height: 60px;
}
.codex_title {
    margin-bottom: 32px;
}
.codex_text {
    color: var(--theme-main);
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
}
.codex_text--last {
    margin-bottom: 60px;
}
.footer .container {
    align-items: center;
}
.footer{
    padding: 60px 0 66px 0;
    background-color: var(--theme-bgd);
    background-size: cover;
}
.footer_text {
    color: var(--theme-main);
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.modal_container {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-modal-bgd);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}
.modal_form {
    background-color: var(--theme-bgd);
    margin: 40px 80px 40px 80px;
    width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close_icon {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.modal_form_title {
    margin-top: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
    text-align: center;
}
.modal_form_text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--theme-main);
    margin-bottom: 32px;
}
.model_form_field {
    display: flex;
    flex-direction: column;
    color: var(--theme-main);
    margin-bottom: 16pxs;
    margin-bottom: 4px;
}
input {
    width: 440px;
    text-align: center;
    height: 40px;
    border: 1px solid var(--theme-main);
    outline: none;
    padding-left: 4px;
    box-sizing: border-box;
    background-color: var(--theme-bgd);
    
}
.modal_form_field_label {
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-main);
    margin-bottom: 4px;
}
.modal_form_submit {
    background-color: var(--theme-accent);
    border-radius: 38px;
    cursor: pointer;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 56px;
    padding: 16px 32px 16px 32px;
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-btn-text);
}

.modal_success {
    padding: 80px 40px 88px 40px;
    background-color: var(--theme-bgd);
    width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal_success_title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 112px;
    text-align: center;
}
.modal_success_text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--theme-main);
    margin-bottom: 36px; 
}
.modal-active {
    opacity: 1;
    pointer-events: all;
}
.about--light,
.codex--light {
    background-image: url("../img/stardust.jpg");
}
.logo svg, .achivements-icon svg, footer svg,.modal_success_icon svg{
    fill: var(--theme-accent);
}
.close_icon svg {
    fill: var(--theme-main);
}