.header {
    margin-bottom: 72px;
}
.header__container {
    display: flex;
    justify-content: space-between;
}
.header__btn {
    font-weight: 400;
    font-size: 16px;
    color: var(--theme-main);
    background-color: transparent;
}