body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.first-page {
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
    background-image: url(../img/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../img/space-2x.jpg);
        }
}